/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author: Edgar Marquez
   Date: 02.01.17

   Filename:         mw_layout.css
   Supporting Files: none

*/


/* body styles */

body {
    font: Tahoma, "Geneva", sans-serif;
}


/* articleheader styles */

#articleheader {
    font-size: 18px;
    letter-spacing: 7px;
    font-weight: normal;
    text-align: center;
}


/* nav styles */

nav ul {
    background-color: rgb(125, 120, 89);
    line-height: 3em;
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

nav ul li a:hover {
    background-color: rgb(131, 121, 36);
    color: yellow;
    color: rgba(255, 255, 255, 1.0);
}

nav ul li:hover {
    list-style-image: url(wheelmarker.png);
}


/* section styles */

section#leftsection {
    font-size: 22px;
}

section#leftsection p#firstpar:first-line {
    text-transform: uppercase;
}


/* blockquote styles */

blockquote {
    background-color: rgb(131, 121, 36);
    color: white;
    font-size: 16px;
    font-family: Comic Sans MS, Times, cursive;
}

blockquote p::after, blockquote p::before {
    content: '"';
}


/* rightsection styles */

#rightsection h1 {
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: normal;
    text-align: center;
}

#rightsection h2 {
    font-size: 18px;
    text-align: right;
    font-weight: normal;
}

#rightsection {
    color: gray;
    font-size: 14px;
    text-align: justify;
}


/* footer styles */

footer address {
    font-size: 16px;
    font-style: normal;
    text-align: center;
}
